//mediaquery breakpoint
$breakpoints: (
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    xxl: 1536px
);


@mixin media($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {
        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @media screen and (min-width: $breakpoint-value) {
            @content;
        }
    }

    @else {
        @error "Unknown breakpoint: #{$breakpoint}.";
    }
}