@use "./utils" as *;

// restar game 
.restart {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    transition: opacity 0.5s;
    padding: 1rem;


    &__wrapper {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        pointer-events: all;
        width: 100%;
        height: 100%;
        max-width: 428px;
        max-height: 307px;
        position: relative;
        background-color: #13111c;
        border-radius: 16px;
        border: 1px solid #ffd1906b;
        aspect-ratio: 25/17;


        @include media('xl') {
            max-width: 700px;
            max-height: 502px;
            width: 100%;
            height: 100%;

        }

        &__img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            aspect-ratio: 25/17;

            object-fit: cover;
            object-position: center;
        }

        &__txt {
            font-size: 1rem;
            font-weight: 400;
            display: flex;
            flex-flow: column;
            line-height: 1;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 100%;
            text-transform: uppercase;
            font-weight: 900;
            transform: rotate(-45deg);

            @include media('xl') {
                font-size: 1.55rem;
            }

        }

        button {
            color: #ffd090;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            font-weight: 400;
            cursor: pointer;
            transition: all 0.2s;
            z-index: 1;

            .diamante {
                width: 7rem;
                height: 7rem;
                margin: 0 auto;
                border: 3px solid #ffd090;
                transform: rotate(45deg);
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #13111c;
                transition: all 0.2s ease-out;

                @include media('xl') {
                    width: 10rem;
                    height: 10rem;
                }

                &__thin {
                    width: 80%;
                    height: 80%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #ffd090;
                    transform: rotate(0deg);
                }
            }

            &:hover {
                .restart__wrapper__txt {
                    color: #ffd498;
                }

                .diamante {
                    background-color: #1e1b2a;
                    scale: 1.03;

                    .diamante__thin {
                        border: 1px solid #ffd498;
                    }
                }
            }
        }
    }
}